/*globals*/
* {
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeee;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    color: #eeeeee;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    color: #eeeeee; 
    margin-top: 12px;
    margin-bottom: 12px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    color: #eeeeee;
    margin-top: 9px;
    margin-bottom: 9px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeee;
}

address {
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeee;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
    width: 100%;
    height: 50px;
}

@media only screen and (min-width: 770px) {
    header {
        background-color: rgba(34, 34, 34, 0.5);
    }

    header.scrolled {
        animation-name: opaque-background;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    header.unscrolled {
        animation-name: transparent-background;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    @keyframes opaque-background {
        from {
            background-color: rgba(34, 34, 34, 0.5);
        }

        to {
            background-color: #222222;
        }
    }

    @keyframes transparent-background {
        from {
            background-color: #222222;
        }

        to {
            background-color: rgba(34, 34, 34, 0.5);
        }
    }

}

header h1.logo {
    float: left;
    font-size: 100%;
    margin-left: 10px;
    font-weight: bold;
}

@media only screen and (min-width: 770px) {
    header h1.logo {
        font-size: 100%;
        margin-left: 20px;
        font-weight: bold;
    }
}

header nav {
    background-image: url(../../img/home/nav-icon.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    float: right;
    margin-right: 10px;
    border: 5px solid transparent;
}

header nav.tapped {
    border-radius: 5px;
    background-color: #444444;
}

@media only screen and (min-width: 770px) {
    header nav {
        background-image: none;
        height: fit-content;
        width: fit-content;
        float: right;
        margin-right: 20px;
        border: 0;
    }
}

header nav ul {
    position: fixed;
    top: 50px;
    left: 0px;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

header nav ul.show {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: showNav;
}

header nav ul.hide {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: hideNav;
}

@keyframes showNav {
    from {
        max-height: 0;
    }
    to {
        max-height: 100%;
    }
}

@keyframes hideNav {
    from {
        max-height: 100%;
    }
    to {
        max-height: 0;
    }
}

@media only screen and (min-width: 770px) {
    header nav ul {
        position: static;
        max-height: none;
        display: inline;
    }
}

header nav ul li {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #444444;
    background-color: #333333;
    padding-left: 10px;
    display: table;
}

header nav ul li a {
    vertical-align: middle;
    display: table-cell;
}

@media only screen and (min-width: 770px) {

    header nav ul li {
        height: auto;
        border-bottom: 0;
        background-color: transparent;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
    }

    header nav ul li a {
        text-decoration: none;
    }

    header nav ul li a:hover{
        text-shadow: 0 0 1px #eeeeee, 0 0 1px #eeeeee;
    }
}

/*background image*/
body div.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("/img/home/blur-breathtaking-clouds-1903702.jpg");
    background-size: cover;
}

/**main**/

main {
    margin-top: 70px;
}

@media only screen and (min-width: 770px) {
    main {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}

main section {
    background-color: rgba(34, 34, 34, 0.5);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
}

@media only screen and (min-width: 770px) {
    main section {
        margin-bottom: 20px;
        padding: 20px;
    }
}

main section ul.cardlist {
    text-align: center;
    background-color: #dddddd;
    border-radius: 10px;
    padding-top: 10px;
}

@media only screen and (min-width: 770px) {
    main section ul.cardlist {
        text-align: left;
        padding-left: 10px;
    }
}

main section ul.cardlist li.card {
    background-color: #eeeeee;
    border-radius: 10px;
    box-shadow: 0 0 1px #cccccc;
    width: fit-content;
    text-align: left;
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

main section ul.cardlist li.card * {
    color: #222222;
}

main section ul.cardlist img {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 5px solid transparent;
    border-radius: 10px;
    background-color: #eeeeee;
    box-shadow: 0 0 2px #aaaaaa;
}

/**footer**/

footer {
    margin-bottom: 20px;
}

footer section {
    background-color: rgba(34, 34, 34, 0.5);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
}

@media only screen and (min-width: 770px) {
    footer {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }

    footer section {
        padding: 20px;
    }
}